@charset "UTF-8"

.main {
    text-align: center;
            background-image:linear-gradient(to right, #BF6068, #A60A0A ,#BF2C2C, #D98F8F, #F2D0D0);
            width: 500px;
            padding: 35px;
            margin: auto;
            border-radius: 10px
     }